{%extends 'index.html'%}
{%block body_block%}
<div class="container-fluid">
    <div class="row">
        {%for mobile in mobiles%}
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card h-100">
                <!-- Product image-->
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{mobile.name}}</h5>
                        <!-- Product price-->
                        Rs.{{mobile.price}}/-
                        {{mobile.band}}
                        {{mobile.display}}
                         {{mobile.processor}}


                    </div>
                </div>
            </div>
        </div>


        </div>
        {%endfor%}

    </div>
</div>
{%endblock%}